<header class="session-controls">
  <ul class="session-control-options">
  <%- if user_signed_in? -%>
    <li><%= link_to t('user.sign_out'), destroy_user_session_path, method: :delete, class: 'sign-out' %></li>
  <%- else -%>
    <li><%= link_to t('user.sign_up'), new_user_registration_path, class: 'sign-up' %></li>
    <li><%= link_to t('user.sign_in'), new_user_session_path,  class: 'sign-in' %></li>
  <%- end -%>
  </ul>
</header>